<div class="palette" x-data>
  {% if 'syriac' in script_variant %}
    {% set chars = [
      'ܐ','ܒ','ܓ','ܕ','ܗ','ܘ','ܙ','ܚ','ܛ','ܝ','ܟ','ܠ','ܡ','ܢ','ܣ','ܥ','ܦ','ܨ','ܩ','ܪ','ܫ','ܬ',
      'ܰ','ܱ','ܲ','ܳ','ܴ','ܵ','ܶ','ܷ','ܸ','ܹ','ܺ','ܻ','ܼ','ܽ','ܾ','ܿ'
    ] %}
  {% else %}
    {% set chars = [
      '𐼰','𐼱','𐼲','𐼳','𐼴','𐼵','𐼶','𐼷','𐼸','𐼹',
      '𐼺','𐼻','𐼼','𐼽','𐼾','𐼿','𐽀','𐽁','𐽂','𐽃','𐽄'
    ] %}
  {% endif %}
  {% for ch in chars %}
    <button type="button" @click="trans += {{ ch | tojson }}">{{ ch }}</button>
  {% endfor %}
</div>
